<div class="text-center">
    <h1 id="title">Welcome to the world of Pong</h1>
    <hr>
    <div class="row">
        <div class='col-sm-4'></div>
        <div class='col-sm-4'>
            <p id="parag" class="fs-4">Here you can play pong against a reasonable AI, 
                play against a friend, or challenge a bunch of your friends to determine who is the best pong player in an epic tournament.</p>    
        </div>
    </div>
    <div>
        {% load static %}
        <img src="{% static 'pong.gif' %}" class="rounded mx-auto d-block">
    </div>
</div>